@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');


.grid-container {
  display: grid;
  column-gap: 10%;
  row-gap:3%;
  grid-template-columns: 70% auto auto;
  padding: 3%;
  font-size: 110%;
}

html, body {
  font-family: 'Podkova',  sans-serif;
  background-image: url(front.jpg);
  font-weight: 400;
  line-height: 1.3;
  font-size: 16px;
  margin: 0;
  color: #333333;
}

.rabot {
  display: flex;
  align-items: center;
}

.grid-item1 {  
  padding: 20px;
  font-size: 130%;
}

.icon{
  margin-right: 20px;
  align-self: left;
}

header{
  padding-left: 4%;
}

.grid-item {
  padding: 20px;
  font-size: 110%;;
}

.im{
  border-radius: 30%;
}