
.grid-container {
  display: grid;
  column-gap: 10%;
  row-gap:3%;
  grid-template-rows: auto auto auto;
  background-color: #2196F3;
  padding: 3%;
}

.header{
  font-family: 'Strong-Regulard', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color:#ffffff;
  max-width: 100%;
  background-color: #1E1E1E;
  padding: 0 10px;
  margin: 0;

.flex-container {
  display: flex;
  justify-content: left; 
}

.flex-container > div {
  background-color: #b4be1a;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.rabot {
  display: flex;
  align-items: center;
}

.grid-item1 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 130%;
  text-align: center;
}

.icon{
  padding-left: 4%;
  margin-right: 20px;
}

.grid-item {
    background-color: rgba(155, 91, 240, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 1fr 30%;
    text-align: center;
  }

.osn {
    padding: 1fr 30%;
    flex-template-columns: 1fr 25%;
}

